@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



section[id], div[id] {
    scroll-margin-top: 64px;
}

@media screen and (max-width: 450px) {
    #About {
        scroll-margin-top: 105px;
    } 
}

body {
    background-color: #1d1b0c;
}
